.sidenav ul {
   padding: 0px;
   margin: 0px;
 
 }
 ul {   
     padding: 0;
     overflow: hidden;
     background-color: rgb(118, 116, 119);
 }
 
 li {
     float: left;
 }
 
 li a {
     display: block;
     color: black;
     text-align: center;
     padding: 20px 20px;
     text-decoration: none;
 }
 
 li a:hover {
     background-color: rgb(255, 255, 255);
 }
 
  ul
 {
    font-size: 1.4em;
 }
 
 ul li
 {
     display: block;
    color:white;
 }